.blockWrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: .5rem;
    border: 1px solid darkgrey;

    .controls {
        display: grid;
        gap: .25rem;
        grid-template-columns: repeat( 2, auto );
        opacity: 0;
        transition: opacity 200ms ease;
        .control {
            user-select: none;
            -webkit-user-modify: read-only;
            -moz-user-modify: read-only;
            padding: 0 .2rem;
            &.dragHandle {
                cursor: grab;
            }
            &.plusAction {
                cursor: pointer;
            }
        }
    }

    &:hover {
        .controls {
            opacity: 1;
        }
    }

    &.dragging {
        opacity: .4;
    }
}
