.blockWrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: .5rem;

    .controls {
        display: grid;
        gap: .25rem;
        grid-template-columns: repeat( 2, auto );
        transition: opacity 200ms ease;
        opacity: 0;
        position: relative;
        &::after { // Event Shield
            content: '';
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
        }
    }

    &:hover .controls:not( .invisible ) {
        opacity: 1;
        &::after { display: none; }
    }

    &.dragging {
        opacity: .4;
    }
}
