.dragOverlay {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0; left: 0;
    width: 100%; height: 100%;
    &.dragging {
        display: block;
    }
    .dropIndicator {
        width: 100%;
        height: 3px;
        background-color: blue;
        transform: translateY( calc( var( --offset ) * 1px - 50% ) )
    }
}

.dragHandle {
    -webkit-user-modify: read-only;
    -moz-user-modify: read-only;
    -ms-user-modify: read-only;
    user-select: none;
    cursor: grab;
}
