.dragOverlay {
    display: none;
    position: absolute;
    z-index: 4;
    top: 0; left: 0;
    width: 100%; height: 100%;
    &.dragging {
        display: block;
    }
    .dropIndicator {
        height: 0px;
        outline: 1.5px solid lighten( #2B7BE4, 10% );
        transform: translateY( calc( var( --offset ) * 1px - 50% ) );
        position: absolute;
        --margin: -.5rem;
        left: calc( var( --x ) * 1px + var( --margin ) );
        width: calc( var( --inner-wrapper-width ) * 1px - var( --margin ) * 2 );
    }
}

.dragHandle {
    cursor: grab;
    color: inherit;
}
