html {
    font-size: 16px;
}


.DraftEditor-root {
    background-color: #F1F1F1;
}

.public-DraftEditor-content > div {
    display: grid;
    gap: .5rem;
}


.demo-ui {
    margin-bottom: 1rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    justify-content: start;
}
