.wrapper {
    --block-controls-offset: -2.4rem;

    width: 100%;
    max-width: 48rem;
    margin: 4rem auto;
    padding: 1.5rem 0;
    border-radius: .5rem;
    box-shadow: 0 3px 10px rgba( black, .1 );
    font-family: IRANSans;
    color: rgba( black, .85 );

    *::selection {
        background-color: lighten( #2B7BE4, 35% );
    }

    .innerWrapper {
        margin: 0 3rem;
    }

    // [data-block-key] {
    //     display: block;
    //     margin: 0 3rem;
    // }
}

.blockElement {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    [ lang = fa ] & {
        line-height: 1.9;
    }
}


.heading {
    &.heading1 {
        // text-decoration: underline;
    }
}

.heading-wrapper {
    &.heading1-wrapper {
        margin: 2rem 0 1rem;
    }
    &.heading2-wrapper {
        margin: 1.5rem 0 1rem;
    }
    &.heading3-wrapper {
        margin: 1.5rem 0 1rem;
    }
}


.paragraph {
    margin: 1rem 0;
}


.ul, .ol {
    padding: 0;
    margin: 1rem 0;
    li {
        margin: .25rem 0;
        margin-inline-start: 1.5rem;
    }
}


.pre-wrapper {
    margin: 1.5rem 0;
    padding: 0;
}


.pre-content-wrapper {
    background-color: #062E32;
    color: rgba( white, .8 );
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 3px 10px rgba( black, .1 );
}


.quote-content-wrapper {
    margin: 2rem 3rem;
    blockquote {
        font-weight: bold;
        font-size: 2rem;
        color: rgba( black, .55 );
        font-style: italic;
        display: block;
        line-height: 1.8;
        * {
            text-align: center;
        }
    }
}
