.plusMenu {
    z-index: 4;
    .overlay {
        display: grid;
        padding: .5rem 0;
        min-width: 16rem;
        .actionButton {
            cursor: pointer;
            padding: 1.25rem { right: 2rem };
            display: grid;
            gap: 1rem;
            grid-auto-flow: column;
            justify-content: start;
            justify-items: start;
            align-content: center;
            align-items: center;
            transition: all 250ms ease;
            .iconWrapper {
                $s: 2.5rem; width: $s; height: $s;
                display: grid;
                justify-content: center;
                justify-items: center;
                align-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #F3F6FD;
                color: #2B7BE4;
            }
            .label {
                color: lighten( black, 30% );
            }
            &:hover {
                background-color: #F3F6FD;
            }
        }
    }
}

.btn {
    cursor: pointer;
    color: inherit;
}
