.inlineStyleMenu {
    background-color: white;
    box-shadow: 0 3px 9px rgba( 0,0,0, .16 );
    border-radius: .25rem;
    padding: .25rem 1rem;
    position: absolute;
    z-index: 2;
    transform: translateY( calc( -100% - .5rem ) );
    display: grid;
    gap: .5rem;
    grid-auto-flow: column;
    button {
        cursor: pointer;
    }
}
